img {
    width: 250px;
    cursor: pointer;
}

.img__wrapper {
    position: relative;
    display: inline-block;
}

.zoom {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    top: 0;
    left: 100%;
}

.focus_block {
    pointer-events: none;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 1px solid grey;
    background-color: rgb(229, 226, 226);
    opacity: 0.7;    
}