$not-valid-color: red;
#btnToggleModal {
    background-color: yellow;
}
.name-row {
 &.not-valid {
     span {
        color:$not-valid-color;
     }
     input {
        border: 1px solid $not-valid-color;
     }
 }
}