$elMargin: 0.5rem;
$elWidth: 18rem;

.product {
    display: inline-block;
    margin: $elMargin;

    &__apple {
        width: $elWidth;
        height: $elWidth;
    }

    &__orange {
        width: $elWidth;
        height: $elWidth;
    }

    &__kivi {
        width: $elWidth;
        height: $elWidth;
    }
}

#widgetCart {
    width: 18rem;
    margin: $elMargin;
    background-color: rgb(199, 199, 199);
    box-shadow: 1px 1px 3px 0 rgb(199, 199, 199);
    position: relative;
}

.cart__item {
    background-color: rgba(128, 128, 128, 0.671);
    color: #FFF;
    display: inline-block;
    width: 75%;
    margin-bottom: $elMargin;
}

.remove__Btn {
    position: absolute;
    right: 0;
    display: block;
}

.button_removeEl {
    width: 20%;
    position: absolute;
    right: 0;
}